<template name="pageaccueil">


	<div  class= "row" > 
	  	<div  class= "col-md-6" ><img  src= "..."  alt= "Electroménager"  class= "img-thumbnail" ><img  src= "..."  alt= "Informatique"  class= "img-thumbnail" >
	  	</div>
	</div>  
	<div  class= "row" > 
		<div  class= "col-md-6" ><img  src= "..."  alt= "TV-MP3/Hi.fi"  class= "img-thumbnail" ><img  src= "..."  alt= "Téléphonie"  class= "img-thumbnail" >
		  </div>
	</div>

	<div  class= "row" > 
	  	<div  class= "col-md-6" ><img  src= "..."  alt= "Photos/Camescopes"  class= "img-thumbnail" ><img  src= "..."  alt= "Jeux vidéo/Culture"  class= "img-thumbnail" >
	  	</div>
	 </div>    

<!--<div="pageaccueil">-->
	<div  class= "row" > 
	   <div  class= "col-md-6" ><img  src= "..."  alt= "Electroménager"  class= "img-thumbnail" ><img  src= "..."  alt= "Informatique"  class= "img-thumbnail" >
	 	 </div>
	</div>  
	<div  class= "row" > 
	  	<div  class= "col-md-6" ><img  src= "..."  alt= "TV-MP3/Hi.fi"  class= "img-thumbnail" ><img  src= "..."  alt= "Téléphonie"  class= "img-thumbnail" >
		  </div>
	</div>

	<div  class= "row" > 
	  	<div  class= "col-md-6" ><img  src= "..."  alt= "Photos/Camescopes"  class= "img-thumbnail" ><img  src= "..."  alt= "Jeux vidéo/Culture"  class= "img-thumbnail" >
	  	</div>  
	</div> 
</template>