<template name="pageaccueil">


<div="pageaccueil">


<div  class= "row" > 
  <div  class= "col-md-6" ><img  src= "images/elec1.jpg"  alt= "Electroménager"  class= "img-thumbnail" ><img  src= "images/info1.jpg"  alt= "Informatique"  class= "img-thumbnail" >
  </div>
  
    <div  class= "row" > 
  <div  class= "col-md-6" ><img  src= "images/hifi1.jpg"  alt= "TV-MP3/Hi.fi"  class= "img-thumbnail" ><img  src= "images/telephone1.jpg"  alt= "Téléphonie"  class= "img-thumbnail" ></div>

    <div  class= "row" > 
  <div  class= "col-md-6" ><img  src= "images/came1.jpg"  alt= "Photos/Camescopes"  class= "img-thumbnail" ><img  src= "images/consoles1.jpg"  alt= "Jeux vidéo/Culture"  class= "img-thumbnail" ></div>  
  </div> 
</template>